---
import Layout from '../layouts/Layout.astro';
import Timeline from '../components/about/timeline.astro';
import { SITE_TITLE, SITE_DESCRIPTION, JOB_TITLE } from '../consts';


const myName = '鹿肝 崇 - shikan takashi';
---

<Layout title={`About - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <main class="page-container">
    <h1 class="gradient-text page-title">About</h1>

	<div class="profile">
		<img src="/src/assets/blog-placeholder-about.jpg" alt={myName} class="profile-image" />
	<div class="profile-info">
		<h2>{myName}</h2>
		<p class="job-title">{JOB_TITLE}</p>
		</div>
	</div>

	<section class="introduction">
		<h3>プロフィール</h3>
		<p>1,986年9月12日生まれ、石川県珠洲市出身。</p>
		<p>中小企業のサラリーマンとして働きながら,<a href="https://studying.jp/" target="_blank" rel="noopener">スタディング</a>でWeb開発を学んでいます。</p>
		<p>このポートフォリオは、学習の成果を記録するために作成しました。</p>
		<p>今後は、学んだことを活かして、Web開発やデザインのスキルを向上ささせていきたいと考えています。</p>
	</section>

	<section class="experience">
		<h3>経歴</h3>

		<Timeline date='2021年 - 現在' title='タイトル'>
			<p>
 より仕事の幅を広げるために、フリーランスエンジニアから法人化をする。
 <br />
 これまでの実績を活かし、幅広いサービスを提供している。
			</p>
 <ul>
 <li>Web サイト・アプリケーション制作</li>
 <li>DX コンサル（業務効率化・自動化）</li>
 <li>データ分析と見える化（BI 構築）</li>
 </ul>
 <p>など</p>
</Timeline>

 <Timeline date='2020 - 2021年' title='フリーランスエンジニア'>
 <p>
 大学卒業後、学生自体から従事していた塾や予備校の仕事を継続しつつ、そのままフリーランスエンジニアとして活動を始める。
 </p>
</Timeline>

 <Timeline date='2016 - 2020年' title='慶應義塾大学 理工学部 数理科学科'>
 <p>大学では統計学を専攻。サークルは茶道とパソコンを掛け持ち。</p>
 </Timeline>

  <Timeline date='2012 - 2015年' title='福島県立 安積高校'>
 <p>吹奏楽部でトランペットに明け暮れる。</p>
  </Timeline>
	</section>
  </main>
</Layout>

<style>
	.profile {
		display: flex;
		align-items: center;
		margin-bottom: 3rem;
	}

	.profile-image {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		object-fit: cover;
		margin-right: 2rem;
	}

	.profile-info h2 {
		font-size: 1.75rem;
	}

	.job-title {
		font-size: 1.2rem;
		color: var(--secondary-color);
		margin-bottom: 0;
	}

	section {
		margin-bottom: 3rem;
	}

	h3 {
		font-size: 1.5rem;
		color: var(--primary-color)	;
	}

	
</style>
