---
import Layout from '../layouts/Layout.astro';
import Timeline from '../components/about/timeline.astro';
import { SITE_TITLE, SITE_DESCRIPTION, JOB_TITLE } from '../consts';


const myName = 'Takashi.shika';
---

<Layout title={`About - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <main class="page-container">
    <h1 class="gradient-text page-title">About</h1>

	<div class="profile">
		<img src="/src/assets/logo.png" alt={myName} class="profile-image" />
	<div class="profile-info">
		<h2>{myName}</h2>
		<p class="job-title">{JOB_TITLE}</p>
		</div>
	</div>

	<section class="introduction">
		<h3>Profile</h3>
		<p>1986年9月12日生まれ、石川県出身</p>
		<p>現在商社の経理職として働きながら,<a href="https://studying.jp/" target="_blank" rel="noopener">スタディング</a>でWeb開発を学んでいます。</p>
		<p>このポートフォリオは、学習の成果を記録するために作成しました。</p>
		<p>今後は、学んだことを活かして、Web開発やデザインのスキルを向上ささせていきたいと考えています。</p>
	</section>

	<section class="experience">
		<h3>経歴</h3>

		<Timeline date='2022年 - 現在' title='商社の経理に就職'>
			<p>
 コロナの影響で飲食店を閉店し、個人事業時に経験した経理
 <br />
 の経験を活かし商社の経理に転職
			</p>
 <ul>
 <li>帳簿管理・労務管理</li>
 <li>決算業務</li>
 <li>ECサイトの管理</li>
 </ul>
 <p>など</p>
</Timeline>

<Timeline date='2012 - 2022年' title='独立し、個人で飲食店を開業'>
 <p>
 飲食店長を数年経験後、独立し個人で飲食店(洋食酒場)を開業。
 </p>
</Timeline>

<Timeline date='2009 - 2012年' title='飲食店に転職'>
 <p>
 スポーツジムのお客様に誘われて、飲食店に転職。
 <br />
 居酒屋の店長として勤務。
 </p>
</Timeline>

 <Timeline date='2007 - 2009年' title='愛知県のスポーツジム'>
 <p>
 専門学校卒業後、愛知県のスポーツジムでパーソナルトレーナーとして勤務。
 </p>
</Timeline>

 <Timeline date='2005 - 2007年' title='愛知県のスポーツ系の専門学校'>
 <p>専門学校では、スポーツトレーナーになる資格を取得。パーソナルトレーナーを目指す。</p>
 </Timeline>

  <Timeline date='2002 - 2005年' title='石川県の普通科の高校'>
 <p>陸上部に所属し部活と遊びにあけくれる。</p>
  </Timeline>
	</section>
  </main>
</Layout>

<style>
	.profile {
		display: flex;
		align-items: center;
		margin-bottom: 3rem;
	}

	.profile-image {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		object-fit: cover;
		margin-right: 2rem;
	}

	.profile-info h2 {
		font-size: 1.75rem;
	}

	.job-title {
		font-size: 1.2rem;
		color: var(--secondary-color);
		margin-bottom: 0;
	}

	section {
		margin-bottom: 3rem;
	}

	h3 {
		font-size: 1.5rem;
		color: var(--primary-color)	;
	}

	@media (max-width: 720px) {
		.profile {
			flex-direction: column;
			text-align: center;
		}

		.profile-image {
			width: 120px;
			height: 120px;
			margin-right: 0;
			margin-bottom: 1.5rem;
		}
	}

	.profile-image {
    transition: transform 0.3s ease; /* アニメーションを滑らかにする */
}

.profile-image:hover {
    transform: rotate(15deg) scale(1.1); /* ホバー時に15度回転して1.1倍に拡大 */
}

/* セクションのライトアップ効果 */
section {
    transition: box-shadow 0.3s ease; /* アニメーションを滑らかにする */
}

section:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* ホバー時に明るい影を追加 */
}
</style>

